/******************/
/* eerste sectie */
/******************/

main > section:nth-of-type(1) {
  padding: 2em;
  background-color: var(--groenalgemeen);
  color: var(--wit);
}

/* Maak de div een kolom-layout zodat we visueel kunnen herschikken */
main > section:nth-of-type(1) div {
  display: flex;
  flex-direction: column;
}

/* Breadcrumb navigatie */
main > section:nth-of-type(1) nav {
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-size: 0.8em;
  margin-bottom: 1em;
  order: -1; /* zet de breadcrumb visueel boven de h1 */
    justify-content: center;
}

main > section:nth-of-type(1)  nav a {
  font-family: "AllTogetherSerif-maarnietwaar";
  text-decoration: none;

  color: var(--wit);
}

main > section:nth-of-type(1)  nav span {
  font-family: "AllTogetherSerif-maarnietwaar";

} 

main > section:nth-of-type(1) nav a:hover {
  text-decoration: underline;
    text-underline-offset: 0.3em;
  text-decoration-color: var(--geel);
}



/* Tekst */
main > section:nth-of-type(1) h1 {
  font-family: "AllTogetherSerif";
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1em;
}

main > section:nth-of-type(1) p {
  font-family: "AllTogetherSerif-maarnietwaar";
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
  color: var(--wit);
}

/* Afbeelding */
main > section:nth-of-type(1) img {
  width: 20em;
  justify-self: center;
}

/* --- DESKTOP --- */
@media (min-width: 64em) {
  main > section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  main > section:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Breadcrumb uitlijnen links */
  main > section:nth-of-type(1) nav[aria-label="breadcrumb"] {
    justify-content: flex-start;
  }

  /* Tekst links uitlijnen */
  main > section:nth-of-type(1) h1,
  main > section:nth-of-type(1) p {
    text-align: left;
  }

  main > section:nth-of-type(1) h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
  }

  /* Afbeelding rechts */
  main > section:nth-of-type(1) img {
    width: 15em;
    justify-self: end;
    align-self: end;
  }
}

/* main > section:nth-of-type(1) {
  padding: 1em;
  background-color: var(--groenalgemeen);
  color: var(--wit);
}

main > section:nth-of-type(1) div {
  display: flex;
  flex-direction: column;
} */

/* Zet visueel de breadcrumb boven de h1 */
/* main > section:nth-of-type(1) nav[aria-label="breadcrumb"] {
  order: -1; 
}

main > section:nth-of-type(1) h1 {
  font-family: "AllTogetherSerif";
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1em;
}

main > section:nth-of-type(1) p {
  font-family: "AllTogetherSerif-maarnietwaar";
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;

  color: var(--wit);
}

main > section:nth-of-type(1) img {
  width: 20em;
  display: flex;
  justify-self: center;
}


@media (min-width: 64em) {
  main > section:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  main > section:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
  } */

/* Tekstkolom */
/* main > section:nth-of-type(1) h1 {
    grid-area: 1 / 1 / 2 / 2;
    padding-bottom:.5em;
    text-align: left;
    font-size: 3em;
  }

  main > section:nth-of-type(1) p {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
  } */

/* Afbeeldingkolom */
/* main > section:nth-of-type(1) img {
    grid-area: 1 / 2 / 2 / 3;
    width: 10em;
    align-self: end;
    justify-self: end;
  }
}/* 


/* main > section:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

}

main > section:nth-of-type(1) h1 {
    grid-area: 1 / 1 / 2 / 2; 
    text-align: left;
}

main > section:nth-of-type(1) p {
    grid-area: 1 / 1 / 2 / 2; 
    text-align: left;    
}

main > section:nth-of-type(1) img {
grid-area: 1 / 2 / 2 / 3; 
justify-self: right;
align-self: end;
width: 3em;
} */

/******************/
/* tweede sectie */
/******************/
main section:nth-of-type(2) {
  padding: 1em;
}

main section:nth-of-type(2) ul li a h3 {
  font-family: "AllTogetherSerif";
  font-weight: 300;
  color: var(--textkleur2);
  font-size: 0.8em;
}

main section:nth-of-type(2) ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  overflow-x: auto;

  gap: 2em;
}

main section:nth-of-type(2) ul li {
  list-style: none;
  min-width: 6em;
  padding-top: 1em;
}

main section:nth-of-type(2) ul li:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 2;
}

main section:nth-of-type(2) ul li:nth-of-type(2) {
  grid-area: 1 / 2 / 2 / 3;
}

main section:nth-of-type(2) ul li:nth-of-type(3) {
  grid-area: 1 / 3 / 2 / 4;
}

main section:nth-of-type(2) ul li:nth-of-type(4) {
  grid-area: 1 / 4 / 2 / 5;
}

main section:nth-of-type(2) ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-align: center;
  gap: 1em;
}

main section:nth-of-type(2) a img {
  order: 0;
}

main section:nth-of-type(2) a img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* section:nth-of-type(2) li:nth-of-type(1) img {
  background-color: var(--lichtblauw);
  padding: 1em;
  border-radius: 50%;
}

section:nth-of-type(2) li:nth-of-type(2) img {
  background-color: var(--donkerblauw);
  padding: 1em;
  border-radius: 50%;
}

section:nth-of-type(2) li:nth-of-type(3) img {
  background-color: var(--mmrood);
  padding: 1em;
  border-radius: 50%;
}

section:nth-of-type(2) li:nth-of-type(4) img {
  background-color: var(--mmgroen);
  padding: 1em;
  border-radius: 50%;
} */

main section:nth-of-type(2) ul li a img {
  order: -1;
  width: 6em;
  height: 6em;
  padding: 1em;
  border-radius: 50%;
  object-fit: cover;
}

/* Kleuren per item */
main section:nth-of-type(2) li:nth-of-type(1) img {
  background-color: var(--lichtblauw);
}
main section:nth-of-type(2) li:nth-of-type(2) img {
  background-color: var(--donkerblauw);
}
main section:nth-of-type(2) li:nth-of-type(3) img {
  background-color: var(--mmrood);
}
main section:nth-of-type(2) li:nth-of-type(4) img {
  background-color: var(--mmgroen);
}

@media (min-width: 64em) {
  main section:nth-of-type(2) ul {
    width: 36em;
    justify-self: center;
  }
}

/******************/
/* derde sectie */
/******************/

main section:nth-of-type(3) {
  background-color: var(--vieswit);
}

main section:nth-of-type(3) ul li a h3 {
  font-family: "AllTogetherSerif";
  color: var(--textkleur2);
  font-size: 0.8em;
}

main section:nth-of-type(3) ul li a p {
  font-family: "AllTogetherSerif-maarnietwaar";
  color: var(--textkleur2);
  font-size: 0.7em;
}

main section:nth-of-type(3) ul li a span {
  font-family: "AllTogetherSerif-maarnietwaar";
  color: var(--grijze-border);
  font-size: 0.9em;
}

main section:nth-of-type(3) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 1em;
  gap: 1.5em;
}

main section:nth-of-type(3) ul li a {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

main section:nth-of-type(3) ul li {
  list-style: none;
  text-align: center;
}

main section:nth-of-type(3) a img:nth-of-type(2),
main section:nth-of-type(3) a img:nth-of-type(3) {
  order: -1;
  background-color: var(--wit);
  padding: 1em;
  border-radius: 50%;
}

span {
  display: block;
}

/* --- Personaliseer-icoon bovenaan elk vak --- */
main section:nth-of-type(3) ul li a {
  position: relative; /* nodig om img:nth-of-type(1) in dit kader te houden */
}

main section:nth-of-type(3) a img:nth-of-type(1) {
  position: absolute;
  top: -0.2em;
  right: -2em;
  transform: translateX(-50%);
  width: 3em;
  height: auto;
  pointer-events: none; /* voorkomt hover-interferentie */
  z-index: 3;
}

/* --- Productfoto + hoverfoto --- */
main section:nth-of-type(3) a img:nth-of-type(2),
main section:nth-of-type(3) a img:nth-of-type(3) {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: auto;
  background-color: var(--wit);
  padding: 1em;
  transition: opacity 0.5s ease;
}

/* Hover-effect: vervang de productfoto door de hoverfoto */
main section:nth-of-type(3) a img:nth-of-type(2) {
  position: relative;
  z-index: 1;
}

main section:nth-of-type(3) a img:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

main section:nth-of-type(3) a:hover img:nth-of-type(3) {
  opacity: 1;
}

/* 
section:nth-of-type(3) a {
  display: grid;
  place-items: center;
  position: relative; 
}

section:nth-of-type(3) a img:nth-of-type(1){

}

section:nth-of-type(3) a img:nth-of-type(2),
section:nth-of-type(3) a img:nth-of-type(3) {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: auto;
  transition: 0.5s;
}


section:nth-of-type(3) a img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


section:nth-of-type(3) a:hover img:nth-of-type(2) {
  opacity: 0; */
/* } */
/******************/
/*     laptop     */
/******************/
@media (min-width: 64em) {
  main section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }


  main section:nth-of-type(3) ul li:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;
  }

  main section:nth-of-type(3) ul li:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  main section:nth-of-type(3) ul li:nth-of-type(3) {
    grid-area: 1 / 3 / 2 / 4;
  }

  main section:nth-of-type(3) ul li:nth-of-type(4) {
    grid-area: 2 / 1 / 3 / 2;
  }

  main section:nth-of-type(3) ul li:nth-of-type(5) {
    grid-area: 2 / 2 / 3 / 3;
  }

  main section:nth-of-type(3) ul li:nth-of-type(6) {
    grid-area: 2 / 3 / 3 / 4;
  }

  main section:nth-of-type(3) ul li:nth-of-type(7) {
    grid-area: 3 / 1 / 4 / 2;
  }

  main section:nth-of-type(3) ul li:nth-of-type(8) {
    grid-area: 3 / 2 / 4 / 3;
  }

  main section:nth-of-type(3) a img:nth-of-type(1) {
    position: absolute;
    top: 0.8em; /* afstand van boven */
    right: 1em;
  }

  /* Hover effect afbeeldingen sectie 3 */

  /* section:nth-of-type(3) ul li a img{
	grid-column-start:1;
	grid-row-start:1;
	width:100%;
	
	transition:1s;
    }

  a:hover img:nth-of-type(1) {
	opacity:0;
} */
}

@media (min-width: 80em) {
  main section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  main section:nth-of-type(3) ul li:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;
  }

  main section:nth-of-type(3) ul li:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  main section:nth-of-type(3) ul li:nth-of-type(3) {
    grid-area: 1 / 3 / 2 / 4;
  }

  main section:nth-of-type(3) ul li:nth-of-type(4) {
    grid-area: 1 / 4 / 2 / 5;
  }

  main section:nth-of-type(3) ul li:nth-of-type(5) {
    grid-area: 2 / 1 / 3 / 2;
  }

  main section:nth-of-type(3) ul li:nth-of-type(6) {
    grid-area: 2 / 2 / 3 / 3;
  }

  main section:nth-of-type(3) ul li:nth-of-type(7) {
    grid-area: 2 / 3 / 3 / 4;
  }

  main section:nth-of-type(3) ul li:nth-of-type(8) {
    grid-area: 2 / 4 / 3 / 5;
  }
}
