main > section:nth-of-type(1) {
  padding: 1em;
  background-color: var(--groenalgemeen);
  color: var(--wit);
}

main > section:nth-of-type(1) h1 {
  font-family: "AllTogetherSerif";
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1em;
}

main > section:nth-of-type(1) p {
  font-family: "AllTogetherSerif-maarnietwaar";
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;

  color: var(--wit);
}

main > section:nth-of-type(1) img {
  width: 20em;
}

section:nth-of-type(3) {
  background-color: var(--vieswit);
}

section:nth-of-type(3) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 1em;
  gap: 1.5em;
}

section:nth-of-type(3) ul li a {
  display: grid;
  text-decoration: none;
  list-style: none;
    gap: 1em;
}
section:nth-of-type(3) ul li a h3 {
  font-family: "AllTogetherSerif";
  color: var(--textkleur2);
  font-size: 0.8em;
}

section:nth-of-type(3) ul li {
  list-style: none;
  text-align: center;

}

section:nth-of-type(3) a img {
  order: -1;
  background-color: var(--wit);
  padding: 1em;
  border-radius: 50%;
}

span{
    display: block;
}
