main > section:nth-of-type(1) {
    padding: 1em;
    background-color: var(--groenalgemeen);
    color: var(--wit);
}

main > section:nth-of-type(1) h1{
    font-family: "AllTogetherSerif";
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 1em;
}

main > section:nth-of-type(1) p{
    font-family: "AllTogetherSerif-maarnietwaar";
    font-weight: 300;
    font-size: 0.8em;
    text-align: center;

    color: var(--wit);
}

main > section:nth-of-type(1) img{
width: 100%;
}