/******************/
/* eerste sectie */
/******************/

main > section:nth-of-type(1) {
  padding: 1em;
  background-color: var(--groenalgemeen);
  color: var(--wit);
}

main > section:nth-of-type(1) h1 {
  font-family: "AllTogetherSerif";
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1em;
}

main > section:nth-of-type(1) p {
  font-family: "AllTogetherSerif-maarnietwaar";
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;

  color: var(--wit);
}

main > section:nth-of-type(1) img {
  width: 20em;
}

/******************/
/* tweede sectie */
/******************/
section:nth-of-type(2) {
    padding:1em;
}

section:nth-of-type(2) ul li a h3 {
  font-family: "AllTogetherSerif";
  font-weight: 300;
  color: var(--textkleur2);
  font-size: 0.8em;
}

section:nth-of-type(2) ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap:2em;
}

section:nth-of-type(2) ul li {
  list-style: none;
}

section:nth-of-type(2) ul li:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 2;
}

section:nth-of-type(2) ul li:nth-of-type(2) {
  grid-area: 1 / 2 / 2 / 3;
}

section:nth-of-type(2) ul li:nth-of-type(3) {
  grid-area: 1 / 3 / 2 / 4;
}

section:nth-of-type(2) ul li:nth-of-type(4) {
  grid-area: 1 / 4 / 2 / 5;
}

section:nth-of-type(2) ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-align: center;
  gap: 1em;
}

section:nth-of-type(2) a img {
  order: -1;
}

/* section:nth-of-type(2) li:nth-of-type(1) img {
  background-color: var(--lichtblauw);
  padding: 1em;
  border-radius: 50%;
}

section:nth-of-type(2) li:nth-of-type(2) img {
  background-color: var(--donkerblauw);
  padding: 1em;
  border-radius: 50%;
}

section:nth-of-type(2) li:nth-of-type(3) img {
  background-color: var(--mmrood);
  padding: 1em;
  border-radius: 50%;
}

section:nth-of-type(2) li:nth-of-type(4) img {
  background-color: var(--mmgroen);
  padding: 1em;
  border-radius: 50%;
} */

section:nth-of-type(2) ul li a img {
  order: -1;
  width: 6em;
  height: 6em;
  padding: 1em;
  border-radius: 50%;
  object-fit: cover;
}

/* Kleuren per item */
section:nth-of-type(2) li:nth-of-type(1) img {
  background-color: var(--lichtblauw);
}
section:nth-of-type(2) li:nth-of-type(2) img {
  background-color: var(--donkerblauw);
}
section:nth-of-type(2) li:nth-of-type(3) img {
  background-color: var(--mmrood);
}
section:nth-of-type(2) li:nth-of-type(4) img {
  background-color: var(--mmgroen);
}

/******************/
/* derde sectie */
/******************/

section:nth-of-type(3) {
  background-color: var(--vieswit);
}

section:nth-of-type(3) ul li a h3 {
  font-family: "AllTogetherSerif";
  color: var(--textkleur2);
  font-size: 0.8em;
}

section:nth-of-type(3) ul li a p {
  font-family: "AllTogetherSerif-maarnietwaar";
  color: var(--textkleur2);
  font-size: 0.7em;
}

section:nth-of-type(3) ul li a span {
  font-family: "AllTogetherSerif-maarnietwaar";
  color: var(--grijze-border);
  font-size: 0.9em;
}

section:nth-of-type(3) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 1em;
  gap: 1.5em;
}

section:nth-of-type(3) ul li a {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 1em;
    flex-direction: column;
    align-items: center;
}

section:nth-of-type(3) ul li {
  list-style: none;
  text-align: center;
}

section:nth-of-type(3) a img {
  order: -1;
  background-color: var(--wit);
  padding: 1em;
  border-radius: 50%;
  width: 15em;
}

span {
  display: block;
}
