/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

/* All Together Serif - Condensed Bold */
@font-face {
  font-family: 'AllTogetherSerif';
  src: url('../fonts/a79c960601d70c71-s.p.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* All Together Serif - Condensed Light */
@font-face {
  font-family: 'AllTogetherSerif-condensed';
  src: url('../fonts/ae5161758a79d99d-s.p.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* All Together Serif - Wide Black  */
@font-face {
  font-family: 'AllTogetherSerif';
  src: url('../fonts/c0244a0ee0d72b84-s.p.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AllTogetherSerif-maarnietwaar';
  src: url('../fonts/c185bb9aea0d69e2-s.p.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: 'AllTogetherSerif';
  src: url('../fonts/38b3690728e874ad-s.p.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AllTogetherSerif-maarnietwaar';
  src: url('../fonts/f84d7dd3a5b6897c-s.p.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--textkleur:#5A1F06;
  --textkleur2:#000000;
	--wit:#ffffff;
  --vieswit:#F3F6FA;
	--roze:#FFABDE;
	--groen:#DBE84E;
	--geel:#FFD200;
	--lichtgeel:#FFF1B6;
  --mmrood:#DA1F18;
  --mmgroen:#20B340;
}

article h2{
  font-family: 'AllTogetherSerif';
  font-weight: 300;
  /* font-style: normal;
  font-display: swap; */
}

p{
  font-family: 'AllTogetherSerif-maarnietwaar';

}


/****************/
/* JOUW STYLING */
/****************/
/* boven header */



/* hero section */
main > section:nth-of-type(1) {
  background-color: var(--lichtgeel);
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 3em;
  padding-right: 3em;
}

main > section:nth-of-type(1) h2{
  margin-bottom: 2em;
}

span {
  font-family: 'AllTogetherSerif-maarnietwaar';
  font-weight: 700;
  /* font-style: normal; */
  font-size: 1rem;
  /* font-stretch: condensed;
  font-display: swap; */
  display: block;
}

/* buttons */
main > section:nth-of-type(1) a:nth-of-type(1){
  font-family: 'AllTogetherSerif';
  background-color: var(--wit);
  color: var(--textkleur);
  border: 0.125rem solid var(--textkleur);
  border-radius: 999rem;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; 
}

main > section:nth-of-type(1) a:nth-of-type(1) img{
width: 3.5em;
padding-right: 1em;
}

main > section:nth-of-type(1) a:nth-of-type(2){
  font-family: 'AllTogetherSerif';
  color: var(--textkleur);
  border: 0.125rem solid var(--textkleur);
  border-radius: 999rem;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section:nth-of-type(1) img:nth-of-type(1){
  width: 100%;
  border-radius: 50%;
}

main section:nth-of-type(1) img:nth-of-type(n+2):nth-of-type(-n+6) {
  /* border-radius: 50%;
  background: radial-gradient(60% 60% at 39.92% 40%, rgba(46, 40, 43, 0) 58.33%, rgba(46, 40, 43, 0.08) 78.12%, rgba(46, 40, 43, 0.36) 100%); */
  border-radius: 50%;
  display: block;
  width: 3em;  
  height: 3em; 
  object-fit: cover;
  box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

main section:nth-of-type(1) img:nth-of-type(2){
  background-color: var(--wit);
  padding:0.3em;
}

main section:nth-of-type(1) img:nth-of-type(3){
  background-color: var(--mmrood);
    padding:0.3em;

}

main section:nth-of-type(1) img:nth-of-type(4){
  background-color: var(--mmgroen);
  padding:0.3em;

}

main section:nth-of-type(1) img:nth-of-type(5){
  background-color: var(--mmgroen);
  padding:0.3em;
}


/* article section */
main > section:nth-of-type(2) {
  background-color: var(--lichtgeel);
  padding-top: 6em;
  padding-bottom: 6em;
}

main section:nth-of-type(2){
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

section:nth-of-type(2) img {
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  width: 90%;
  border-radius: 0em 1em 1em 0em;
  padding: 2em;
}

article:nth-of-type(1){
  background-color:var(--roze);
  width:90%;
}

article:nth-of-type(2){
  background-color:var(--groen);
  margin-left: auto;
  border-radius: 1em 0em 0em 1em;
}

article:nth-of-type(3){
  background-color:var(--geel);
}

article p{
  order: -1;
}

article img:nth-of-type(1){
  order: -2;
}

article img:nth-of-type(2){
  order: -3;
}

article {
  position: relative; 
}

article img:nth-of-type(2) {
  position: absolute;
  left:1rem;
  top:-5rem;
  width: 40%;
}

/* scroll sectie tekst */

main > section:nth-of-type(3){
  background-color: var(--lichtgeel);
  padding-bottom: 6em;
}

main > section:nth-of-type(3) ul:first-of-type {
  font-family: 'AllTogetherSerif-condensed';
  font-size: x-large;
  display: flex;
  gap: 0.5em;
  list-style: none;
  white-space: nowrap;
  animation-name: scrolly-tekst;
  animation-timing-function: linear;
  animation-timeline: view();
}

@keyframes scrolly-tekst {
  0% {
  }
  100% {
    translate: -100%;
  }
}

main > section:nth-of-type(3) ul:last-of-type {
  font-family: 'AllTogetherSerif-condensed';
  font-size: x-large;
  display: flex;
  gap: 0.5em;
  list-style: none;
  white-space: nowrap;
  animation-name: scrolly-tekst2;
  animation-timing-function: linear;
  animation-timeline: view();
}

@keyframes scrolly-tekst2 {
  0% { 
    transform: translateX(-100%); 
  }
  100% {
     transform: translateX(0); 
    }
}

main section:nth-of-type(3) ul li:nth-child(2n) {
  /* font-family: 'AllTogetherSerif'; */
  font-family: 'AllTogetherSerif';
  font-size:smaller ;
  padding-top: 0.2em;
  color: var(--mmrood);
}


/* ons doel sectie */
main > section:nth-of-type(4){
  background: radial-gradient(circle at center bottom, var(--geel) 90%, transparent 61%) no-repeat;
  background-color: var(--lichtgeel);
  padding:6em 2em;
}



main > section:nth-of-type(4) h2{
  text-align: center;
  margin-bottom: 2em;
  font-family: 'AllTogetherSerif-maarnietwaar';
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--textkleur);
}

main > section:nth-of-type(4) p{
  font-family: 'AllTogetherSerif-condensed';
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.1111111111111112;
  font-style: normal;
  text-align: center;
  color: var(--textkleur);
  margin-bottom: 1em;
}

main > section:nth-of-type(4) a{
  font-family: 'AllTogetherSerif';
  background-color: var(--wit);
  color: var(--textkleur);
  border-radius: 999rem;
  padding: 1.3em;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;

}

main > section:nth-of-type(4) img{
  width:100%;
}

/* footer */
footer > section:nth-of-type(1){
  display: flex;
  flex-direction: column;
}

footer{
  background-color: var(--vieswit);
}

footer section{
  padding: 1.5em;
}

footer p{
  font-family: 'AllTogetherSerif-maarnietwaar';
  font-size: x-small;
}

footer > img:nth-of-type(1){
  width: 25em;
  background:
    radial-gradient(circle at center top, var(--geel) 60%, var(--vieswit)) no-repeat;
  background-position: bottom center;
  background-size: 20em 20em; /* pas dit aan voor hoe diep de boog moet zijn */
}


footer section:nth-of-type(1) h2 {
  font-family: 'AllTogetherSerif';
  font-size: medium;
}

footer section:nth-of-type(1) ul li {
  display: grid;
  grid-template-columns:5em 1fr ;
  grid-template-rows: min-content min-content min-content;
  /* font-size: 12px; */
  padding-bottom: 1em;;
  padding-left: 0;
  width: 20em;
}
 
footer section:nth-of-type(1) ul li img {
  grid-column: 1;
  grid-row: 1/-1;
  /* width: 10em; */
  /* padding: 0.5em 0.5em 0 0; */
}
 
footer section:nth-of-type(1) ul li h3 {
  grid-column: 2;
}
 
footer section:nth-of-type(1) ul li a {
  grid-row: 3;
  grid-column: 2;
  padding: 0.7em 0 1em 0.7em;
}

/* footer section:nth-of-type(1){
  background-color: var(--geel);
} */

footer section:nth-of-type(1) ul li img{
  width: 4em;
}

footer section:nth-of-type(2){
  display: grid;
  gap: 1em;
}

footer section:nth-of-type(2) h2{
  color: var(--textkleur);
  font-family: 'AllTogetherSerif';
  font-weight: 300;
}

footer input{
  border: transparent;
  border-bottom: 0.1em solid var(--textkleur2);
  background: none;
  width: 100%;
  padding:1em 0em;
}

footer section:nth-of-type(2) p{
  font-family: 'AllTogetherSerif-maarnietwaar';
  font-size: x-small;
}

footer section:nth-of-type(2) a{
  font-family: 'AllTogetherSerif-maarnietwaar';
  font-size: x-small;
  color: var(--textkleur);
  font-weight: bold;
}

form{
  gap: 1em;
  display: grid;
}

footer button {
  font-family: 'AllTogetherSerif';
  color: var(--textkleur);
  background-color: var(--geel);
  border: transparent;
  border-radius: 999rem;
  padding: 1.5em;
  text-align: center;
}

footer section:nth-of-type(n+3):nth-of-type(-n+5) h2 {
  font-family: 'AllTogetherSerif';
  font-size: small;
  color: var(--textkleur);
  margin-bottom: 1em;
}


footer section:nth-of-type(n+3):nth-of-type(-n+5) li {
  list-style: none;
}

footer section:nth-of-type(n+3):nth-of-type(-n+5) a {
  font-family: 'AllTogetherSerif-maarnietwaar';
  font-size: small;
  text-decoration: none;
  color: var(--textkleur2);
}

footer section:nth-of-type(n+3):nth-of-type(-n+5) a:hover {
  text-decoration: underline;
  text-underline-offset:0.3em;
  text-decoration-color: var(--geel);
}

footer section:nth-of-type(n+2):nth-of-type(-n+4) ul {
  display: grid;
  gap: 0.5em;
}

footer section:nth-of-type(5) ul {
  display:flex;
  gap:1em;
}

footer section:nth-of-type(5) svg{
  fill:var(--textkleur);
  width: 1em;
}

footer section:nth-of-type(6){
  display: grid;
  gap: 1em;
}

footer section:nth-of-type(6) img{
  fill:var(--textkleur);
  width: 6em;
}

footer section:nth-of-type(6) li{
list-style: none;
}

footer section:nth-of-type(6) a{
  font-family: 'AllTogetherSerif-maarnietwaar';
  font-size: small;
  color: var(--textkleur2);
  text-underline-offset:0.3em;
  text-decoration-thickness: 0.05em;
}

footer section:nth-of-type(6) a:hover{

  text-decoration:none;
}

footer section:nth-of-type(6) ul{
  display: grid;
  gap: 0.8em;
}

footer section:nth-of-type(6) p{
  width:25em;
  
}








/* bron:https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* footer fullscreen grid */
/* .parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 2 / 1 / 4 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 3 / 2 / 4 / 3; }
.div6 { grid-area: 4 / 1 / 5 / 4; }  */
